{% comment %}
  Placeholder to allow defining custom head, in principle, you can add anything here, e.g. favicons:

  1. Head over to https://realfavicongenerator.net/ to add your own favicons.
  2. Customize default _includes/custom-head.html in your source directory and insert the given code snippet.
{% endcomment %}

<!-- Primary Meta Tags -->
<meta name="title" content="La esquina Gris - Escribo un blog por terapia.">
<meta name="description" content="Blog de personal habland de tecnología como Gnu/Linux, lenguajes de programación y pensamientos que rondan la cabeza de un programador.">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://ventgrey.github.io/">
<meta property="og:title" content="La esquina Gris - Escribo un blog por terapia.">
<meta property="og:description" content="Un blog de personal que habla de diversos temas de tecnología como Gnu/Linux, lenguajes de programación y pensamientos que rondan la cabeza de un programador.">
<meta property="og:image" content="https://raw.githubusercontent.com/VentGrey/ventgrey.github.io/master/assets/img/laesquinagris.png">

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:url" content="https://ventgrey.github.io/">
<meta name="twitter:title" content="La esquina Gris - Escribo un blog por terapia.">
<meta name="twitter:description" content="Un blog de personal que habla de diversos temas de tecnología como Gnu/Linux, lenguajes de programación y pensamientos que rondan la cabeza de un programador.">
<meta name="twitter:site" content="@VentGrey" />
<meta name="twitter:creator" content="@VentGrey" />
<meta name="twitter:image" content="https://raw.githubusercontent.com/VentGrey/ventgrey.github.io/master/assets/img/laesquinagris.png">

<!-- Search Console -->
<meta name="google-site-verification" content="Iyb36hxWrYaEXR1JJHRsc-E3vXidjcKH8hdE1pU5KxA" />
