{{- /* Head custom content area start */ -}}
{{- /*     Insert any custom code (web-analytics, resources, etc.) - it will appear in the <head></head> section of every page. */ -}}
<link rel="manifest" href="/manifest.webmanifest">
<!-- Search Console -->
<meta name="google-site-verification" content="Iyb36hxWrYaEXR1JJHRsc-E3vXidjcKH8hdE1pU5KxA" />
<!-- Metatags to troll wappalyzer users -->
{{- /*     Can be overwritten by partial with the same name in the global layouts. */ -}}
{{- /* Head custom content area end */ -}}
