{{- /* Footer custom content area start */ -}}
{{- /*     Insert any custom code web-analytics, resources, etc. here */ -}}
<script>
  if('serviceWorker' in navigator) {
      navigator.serviceWorker
          .register('/sw.js', { scope: '/' })
          .then(function(registration) {
          });

      navigator.serviceWorker
          .ready
          .then(function(registration) {
          });
  }
</script>
|<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7975216812412997"
     crossorigin="anonymous"></script>
{{- /* Footer custom content area end */ -}}
