<!DOCTYPE html>
<html lang="es">
  <title>La esquina Gris - Escribo un blog por terapia.</title>
  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

<script src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js'></script>
<script>
  kofiWidgetOverlay.draw('ventgrey', {
    'type': 'floating-chat',
    'floating-chat.donateButton.text': 'Tip Me',
    'floating-chat.donateButton.background-color': '#323842',
    'floating-chat.donateButton.text-color': '#fff'
  });
</script>

    <script type='application/ld+json'>{ "@context": "http://www.schema.org", "@type": "WebSite", "name": "La Esquina Gris", "alternateName": "La Esquina Gris", "url": "https://ventgrey.github.io/" }</script>
  </body>

</html>
